/*
 Theme Name:   Blask Child
 Template:     blask
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  blask-child
*/

#primary {
    opacity: 1;
}

.site-info,
.entry-meta {
    display: none;
}

.category .post,
.portfolio-wrapper .post {
    opacity: 0;
    width: 98%;
}

.post .portfolio-thumbnail {
    background: #eee;
}

.post .project-title {
    color: #888;
    opacity: 1;
}

.post .portfolio-thumbnail a {
    background: none;
    min-height: 200px;
    width: 100%;
}

.post .portfolio-thumbnail a:hover {
    background: #ccc;
}

.site-branding,
.site-description {
    display: none;
}

.social-links ul li {
    margin: 5px;
    padding: 5px;
    background-color: #eee;
}

.social-links ul li.wpml-ls-current-language {
    font-weight: bold;
    background-color: #fff;
}

.social-links ul a::before {
    content: none;
}

.wp-block-jetpack-button button,
.wp-block-button__link {
    border-radius: 0;
    font-size: 1.6rem !important;
    line-height: 2.5 !important;
    padding: 0 1em !important;
}

#menu-menu-de-idiomas .screen-reader-text {
    clip: auto !important;
    height: auto !important;
    position: relative !important;
    width: auto !important;
    word-wrap: initial !important;
    clip-path: initial !important;
}

#cookie-notice #cn-accept-cookie {
    color: #32373c;
    background-color: #fff !important;
    border-radius: 0;
}

#ub-expand-0f349cd7-121d-41ac-b324-3b21de3dd668 .ub-expand-toggle-button,
#ub-expand-e8b9df45-9fc0-4524-8451-2348ca889c6b .ub-expand-toggle-button,
#ub-expand-65ac7d81-4f47-4d01-8190-9b9d738fe677 .ub-expand-toggle-button {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  color: #999;
}

blockquote {
    font-size: 1.8rem;
}

.woocommerce #main {
    margin-top: 72px;
}

.woocommerce-product-gallery {
    opacity: 1 !important;
}

.wc-tabs {
    display: none;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #32373c;
    font-weight: 400;
    border-radius: 0;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #32373c;
}

.woocommerce #tab-additional_information {
    display: block !important;
}

.woocommerce th,
.woocommerce table.shop_attributes tr:nth-child(2n) th,
.woocommerce table.shop_attributes tr:nth-child(2n) td {
  background: transparent;
}

a.added_to_cart {
    display: inline-block;
}

.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button {
    display: ruby-base;
    text-transform: none;
}

@media screen and (min-width:1025px) {
    .category .post,
    .portfolio-wrapper .post {
        opacity: 0;
        width: 46%;
    }
}

@media screen and (min-width:1260px) {
    .category .post,
    .portfolio-wrapper .post {
        opacity: 0;
        width: 30%;
    }
}

@media screen and (min-width:1440px) {
    .category .post,
    .portfolio-wrapper .post {
        opacity: 0;
        width: 22%;
    }
}
